*{
    margin: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    /* Koden nedan är kopierad från internet */
    max-width: 100%; 
    border-radius: 0.7rem;
} 

#wrapper{
    width: 100vw;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he na na"
    "se se se se se"
    "se se se se se"
    "se se se se se"
    "ar ar rg rg rg"
    "ar ar rg rg rg"
    ;
}

#header{
    background: salmon;
    grid-area: he;
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: center;
}

#sidans_titel{
    text-decoration: none;
}

#sidans_titel:hover{
    text-decoration: none;
    font-weight: bold;
}

#nav{
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border-radius: 1.6rem;
    background: yellow; 
}

#om_oss{
    background:rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
    text-decoration: none;
}

#meny{
    background:rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
    text-decoration: none;
}

#om_oss:hover{
    font-weight: bold;
}

#meny:hover{
    font-weight: bold;
}