*{
    margin: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    /* Koden nedan är kopierad från internet */
    max-width: 100%; 
    border-radius: 0.7rem;
} 

#wrapper{
    width: 100vw;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he na na"
    "se se se se se"
    "se se se se se"
    "se se se se se"
    "ar ar rg rg rg"
    "ar ar rg rg rg"
    ;
}

#header{
    background: salmon;
    grid-area: he;
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: center;
}

#empty{
    grid-area: dv;
    background: seagreen;
}

#emptyright{
    grid-area: dv;
    background: white;
}

#emptyright{
    grid-area: rg;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

#footer{
    grid-area: fo;
    background: white;
}

#section{
    grid-area: se;
    background-image: url(https://images.unsplash.com/photo-1619738566066-81c6d589c80c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

#article{
    grid-area: ar;
    background: rgb(240, 240, 240)
}

#nav{
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border-radius: 1.6rem;
    background: yellow; 
}

#om_oss{
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
}

#meny{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
}

#om_oss:hover{
    font-weight: bold;
}

#meny:hover{
    font-weight: bold;
}

#stycke{
    font-size: 1.2rem;
}

#styckestitel{
    font-size: 1.6rem;
}