*{
    margin: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    /* Koden nedan är kopierad från internet */
    max-width: 100%; 
    border-radius: 0.7rem;
} 

#wrapper{
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he na na"
    "bs bs bi bi bi"
    "k1 k1 k1 k1 k1"
    "k2 k2 k2 k2 k2"
    "ka ka ka ka ka"
    ;
}

#karta{
    grid-area: ka;
}

#kontaktuppgifter{
    grid-area: k2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#kontakt{
    grid-area: k1;
    display: flex;
    justify-content: center;
}

#bild{
    grid-area: bi;
    background-image: url(https://images.unsplash.com/flagged/photo-1560873199-2769fae341b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
}

#beskrivning{
    grid-area: bs;
    background: rgb(240, 240, 240)
}

#header{
    background: salmon;
    grid-area: he;
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: center;
}

#sidans_titel{
    text-decoration: none;
}

#sidans_titel:hover{
    text-decoration: none;
    font-weight: bold;
}

#nav{
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white
}

#om_oss{
    background:rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
    text-decoration: none;
}

#meny{
    background:rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1.6rem;
    text-decoration: none;
}

#om_oss:hover{
    font-weight: bold;
}

#meny:hover{
    font-weight: bold;
}

