*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Koden nedan är kopierad från internet */
    max-width: 100%; 
    border-radius: 0.7rem;
} 

#wrapper{
    width: 100vw;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 3fr .5fr .5fr 2fr;
    grid-template-areas: 
    "lg he he na na"
    "bs bs bi bi bi"
    "k1 k1 k1 k1 k1"
    "ka ka ka ka ka"
    "k2 k2 k2 k2 k2"
    ;
    border-radius: 0rem;
    background-image: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
}

#logga{
    grid-area: lg;
    height: auto;
    width: 170px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.beskr_text{
    font-size: 1.1rem;
}

#beskr_titel{
    display: flex;
    justify-content: center;
}

#karta{
    grid-area: ka;
    margin: 5px;
    display: flex;
    justify-content: center;
}

#kontaktuppgifter{
    grid-area: k2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin: 0.5rem; 
    font-size: 1.2rem;
}

#kontakt{
    grid-area: k1;
    display: flex;
    justify-content: center;
    margin: 5px;
}

#bild{
    grid-area: bi;
    background-image: url(https://images.unsplash.com/flagged/photo-1560873199-2769fae341b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    margin: 5px;
}

#beskrivning{
    grid-area: bs;
    color: white;
    margin: 5px;
}

#header{
    grid-area: he;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 5px;
}

#sidans_titel{
    text-decoration: none;
    height: 100px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    color: black;
    background: salmon;
    font-style: italic;
}

#sidans_titel:hover{
    text-decoration: none;
    font-weight: bold;
}

#nav{
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}

#om_oss{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 400px;
    text-decoration: none;
    margin: 5px; 
    color: black;
    background: salmon;
    font-style: italic;
}

#meny{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 400px;
    text-decoration: none;
    margin: 5px; 
    color: black;
    background: salmon;
    font-style: italic;
}

